body {
    background-color: mintcream;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif; 
   text-shadow: 1px 1px 1px black;
}

ul {
    margin: 0px;
}

body > header {
    background-color: seagreen;
    color: lightgreen;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

#nav-ul > li{
    padding: 8px;
    margin: 6px;
}

.navbutton {
    color: lightgreen;
    text-decoration: none;
    padding: 12px;
    border: 1px solid lightgreen;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: seagreen;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: lightgreen;
}

img {
    border-radius: 100%;
}
